.head1{
  border-color: rgb(0, 0, 0);
  border-style: ridge;
  border-radius: 3px;
  margin-left: 10px;
  width: 200px;
  background-color: red;
}
.big_container{
    background-image: url(./img/wp9118793-4k-mario-wallpapers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.g1{
    height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.b1{
    background-color: red;
     height: 300px;
     width: 460px;
      border-style: ridge;
    border-color: white;
    border-radius: 10px;
}
.g2{
    height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.b2{
    background-color: rgb(0, 42, 255);
     height: 300px;
     width: 460px;
    margin-left: 50%;
      border-style: ridge;
    border-color: white;
    border-radius: 10px;
}


.g3{
    height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.b3{
    background-color: rgb(255, 255, 255);
     height: 300px;
     width: 460px;
    margin-top: 50px;
      border-style: ridge;
    border-color: rgb(255, 255, 255);
    border-radius: 10px;
}
.g4{
    height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.b4{
    background-color: red;
     height: 300px;
     width: 460px;
    margin-top: 50px;
      border-style: ridge;
    border-color: white;
    border-radius: 10px;
    margin-left:50%;
}
.b5{
  background-color: rgb(0, 42, 255);
     height: 300px;
     width: 460px;
      border-style: ridge;
    border-color: white;
    border-radius: 10px;
}
.g5{
  height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.g6{
    height: 190px;
    margin-left: 5px;
    margin-top: 6px;
    width: 98%;
}
.b6{
    background-color: rgb(255, 255, 255);
     height: 300px;
     width: 460px;
    margin-top: 50px;
      border-style: ridge;
    border-color: white;
    border-radius: 10px;
    margin-left:50%;
}

